<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="SenderName" value="Waldemar Szwajłyk" />
    <add key="SenderEmail" value="bajo12388@gmail.com" />
    <add key="SenderEmailPassword" value="SE6hIvZ2TxMIEfxj6fMVkMQJuUtg0LWsXFqKyA+KLmt472fG4UAH+5Vzon6Ao71Y9FPYfghRt71A51VF3lIgVi+NG5zHECyXhG88u+DTogP7gw8PeML6RZTr0hfcSfCB" />
    <add key="ReceiverEmail" value="bajo123@wp.pl" />
  </appSettings>
</configuration>